{% extends 'novachan/base.html' %}

{% load i18n %}
{%  load static %}

{% block head %}
    <title>{% blocktrans %}Novachan: welcome!{% endblocktrans %}</title>
{% endblock %}

{% block content %}
{#    TODO login on homepage #}
    {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">Login</a><br>
{#        <a href="{% url 'register' %}">register</a><br>#}
    {% else %}
        <a href="{% url 'logout' %}?next=/">logout</a><br>
    {% endif %}

    <div id="topics" class="box">
        {% for t in topics %}
            <a href="/{{ t.url }}">{{ t.name }}</a> <br>
        {% endfor %}
    </div>
{% endblock %}