<!-- TODO make extend base template -->
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% blocktrans %}Novachan: welcome!{% endblocktrans %}</title>
</head>
<body>
{#    TODO login on homepage #}
    {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">Login</a><br>
{#        <a href="{% url 'register' %}">register</a><br>#}
    {% else %}
        <a href="{% url 'logout' %}?next=/">logout</a><br>
    {% endif %}
    {% for t in topics %}
        <a href="/{{ t.url }}">{{ t.name }}</a> <br>
    {% endfor %}
</body>
</html>