<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>/{{ topic.url }}/{{ thread.id }}</title>
</head>
<body>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="post"><br>
        </form>
    </div>
    <div>
        <h2>{{ thread.name }} No.{{ thread.pk }} {{ thread.datetime }}</h2>
        <p>{{ thread.text }}</p>
        {% for reply in replies %}
            <h3>{{ reply.name }} No.{{ reply.pk }} {{ reply.datetime }}</h3>
            <p>{{ reply.text }}</p>
        {% endfor %}
    </div>
</body>
</html>