{% extends 'novachan/posts.html' %}

{% block head %}
    <title>/{{ topic.url }}/{{ thread.long_id }}</title>
{% endblock %}

{% block content %}
    <div id="thread{{ thread.long_id }}" class="thread-box">
        <h2 class="thread-box-header">{{ thread.name }} No.{{ thread.long_id }} {{ thread.datetime }}</h2>
        <p>{{ thread.text }}</p>
        {% for reply in replies %}
            <div id="reply{{ reply.long_id }}" class="reply-box">
                <h3 class="reply-box-header">{{ reply.name }} No.{{ reply.long_id }} {{ reply.datetime }}</h3>
                <hr>
                <p>{{ reply.text }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
