<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Novachan: {{ topic.name }}</title>
</head>
<body>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="post"><br>
        </form>
    </div>
    <div>
    {% for thread in threads %}
        <h3>{{ thread.user }} No.{{ thread.pk }} {{ thread.datetime }}</h3>
        <p>{{ thread.text }}</p>
        {% for reply in replies %}
            {% if reply.thread_id_id == thread.pk %}
                <p>{{ reply.user }} No.{{ reply.pk }} {{ reply.datetime }}</p>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
</body>
</html>