{% extends 'novachan/posts.html' %}

{% block head %}
    <title>/{{ topic.url }}/ - {{ topic.name }}</title>
{% endblock %}

{% block content %}
        {% for thread in threads %}
            <h3><a href="{{ thread.pk }}">{{ thread.name }} No.{{ thread.long_id }} {{ thread.datetime }}</a></h3>
            <p>{{ thread.text }}</p>
            {% for reply in replies %}
                {% if reply.thread_id_id == thread.pk %} <!-- TODO make 6 non-hardcoded -->
                    <p>{{ reply.name }} No.{{ reply.long_id }} {{ reply.datetime }}</p>
                {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
