{% extends 'novachan/posts.html' %}

{% block head %}
    <title>/{{ topic.url }}/ - {{ topic.name }}</title>
{% endblock %}

{% block content %}
        {% for thread in threads %}
            <div id="thread{{ thread.long_id }}" class="thread-box">
                <h3 class="thread-box-header"><a href="{{ thread.pk }}">{{ thread.name }} No.{{ thread.long_id }} {{ thread.datetime }}</a></h3>
                <p>{{ thread.text }}</p>
                {% for reply in replies %}
                    {% if reply.thread_id_id == thread.pk %}
                        <div id="reply{{ reply.long_id }}" class="reply-box">
                            <h4 class="reply-box-header">{{ reply.name }} No.{{ reply.long_id }} {{ reply.datetime }}</h4>
                            <hr>
                            <p>{{ reply.text }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <hr>
    {% endfor %}
{% endblock %}
